<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">

    <title>MySite Aboutus</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MySite</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Aboutus">About Us</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/Contactus">Contact Us</a>
              </li>
              
            </ul>
          </div>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </nav>

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to Mysite</strong> You can look for more information of us here
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div class = "container">
    <h2>You can check about on our social media pages. The link has been given below</h2>
    <ul class="list-group">
        <li class="list-group-item" > <a href ="https://www.google.com/search?q=facebook&rlz=1C1CHZN_enIN1042IN1042&oq=faceb&aqs=chrome.0.0i131i355i433i512j46i131i199i433i465i512j69i57j0i131i433i512l2j0i433i512j0i131i433i512j5.4852j0j7&sourceid=chrome&ie=UTF-8"> MySite Facebook </a></li>
        <li class="list-group-item">  <a href = "https://www.google.com/search?q=twitter&rlz=1C1CHZN_enIN1042IN1042&oq=twitter&aqs=chrome.0.0i271j46i67i131i199i433i465i650j0i67i131i433i650j0i131i433i512j0i433i512l2j0i67i650l2j0i131i433i512l2.3166j0j7&sourceid=chrome&ie=UTF-8"> MySite Twitter </a></li>
        <li class="list-group-item"> <a href = "https://www.google.com/search?q=instagream&rlz=1C1CHZN_enIN1042IN1042&oq=instagream&aqs=chrome..69i57j0i10i131i433i512l6j5.4183j0j7&sourceid=chrome&ie=UTF-8">  MySite instagram </a></li>

   
        
</div>
    </body>
    </html>